body{
    padding:20px;
    background-image:url(back3.jfif);
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    scroll-behavior:unset;
}
.image{
    position:fixed;
}
.item2{
    padding:30px;
    display:flexbox;
    width:700px;
    position:absolute;
    top:100px;
    scroll-behavior: auto;
    box-sizing: border-box;
    border-width: 40px;
    background-color: #9567c9;
    align-content: space-between;
    font-family: sans-serif;
}
.item1{
    display:flexbox;
    width:700px;
    position:absolute;
    left:335px;
    scroll-behavior: auto;
    box-sizing: border-box;
    border-width: 40px;
    align-items: center;
}
button{
    width:500px;
    height: 20px;
    background-color: lightgreen;
}
input.text{
    width:400px;
}
h3{
    color: whitesmoke;
}
h2{
    color: yellow;
}
.item3{
    text-align: center;
}

